<% if logged_in? %>
  <%= link_to "Word", words_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Lesson", categories_path, class: "btn btn-lg btn-primary" %>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Framgia E-Learning System</h1>

    <h2>
      This is the home page for the
      Framgia E-Learning System
    </h2>

    <%= link_to "Signup", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
