<p class="fields">  
  <%= f.label :content, "Answer" %>  
  <%= f.text_field :content, class: "a-content" %>
  <%= f.check_box :correct, class: "a-correct" %>
  <%= link_to_remove_fields "remove",f %>  
</p>  
