<%= will_paginate %>
<table class="table table-striped ">
  <tr>
    <th> ID </th>
    <th>Word</th>
    <th>Answer</th>
    <th>Check</th>
    <th>Action</th>
  <tr>
  <%= render @words %>
</table>
<%= will_paginate %>
