<% provide :title %>
<h1> Add word </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <p> 
    <strong> Category: </strong>
    <br><%= @category.title %>
  </p>
  <%= render 'form' %>
</div>
