<%= provide :title, "Lesson" %>
<h1>All Lessons </h1>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Category</th>
      <th>Result</th>
      <th>Time </th>
      <th>Action</th>
    </tr>
    <%= render @lessons %>
  </table>
  <%= will_paginate %>
</div>
