<% result = f.object %>
<%= f.hidden_field :word_id, value: result.word.id %>

<div class="question">
  <div class="word"><%= result.word.content %></div>
  <ul>
    <%= render partial: "answer", collection: result.word.answers, 
      locals: {f: f, result: result} %>
  </ul>
</div>
