<li>
  <div class="row">
    <div class="col-md-6">
      <h2><%= category.title %></h2>
      <p><%= category.description %></p>
      <a href="#" class="btn btn-primary" role="button">Start</a>
    </div>
    <div class="col-md-6">
      <%= image_tag "rails.png", alt: "Rails logo" %>
    </div>
  </div>
</li>
